
body{
    background-image: url("image/Screenshot .png");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgb(4, 74, 77);
   margin: 20px 100px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.1rem;
   color: aliceblue;
   padding: 15px;
   
}
header{
  display: flex;
  

}
.ramon{
  display: flex;
  margin: 10px;
  margin-top: 0px;
  
  
}
nav, a{
  cursor: pointer;
  color: aliceblue;
  justify-content: center;
  text-align: center;
  margin: 10px ;
  margin-top: 30px;
}
.logo{
  width: 80px;
  border-radius: 40px;
}

.intro{
display: flex;
}
.back{
  width: 100%;
  z-index: -2;
}
.appli {
    width: 500px;
    height: 500px;
    border: 5px solid green;
    border-radius: 15px;
    
  }
  .appli:hover{
    transform: rotatey(360deg);
    transition-duration: 4s;
    
  }
  h1, h2 {
    color:blue;
  }
  p{
    color: red;
  }
  a{
    text-decoration: none;
  }
  fieldset{
    border-color: black;
    
   
  }
  .btn{
    margin: 15px ;
width: 120px;

border-color:aquamarine;
background-color: rgb(15, 46, 85);
font-size: 1.3rem;
border-radius: 8px;
    color: rgb(26, 2, 2);
    text-align: center;
    font-weight: 500;
    cursor: pointer;
  }
.btn:hover{
  
  
  background-color: aquamarine;
}

.footer-links{
  bottom: 0;
  left: 0;
  right: 0;
  position: static;
 color: #f2f2f2;
 background-color: black;
 display: flex;
 padding: 10px;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
}
.footer-links li a{
color: #f2f2f2;
text-decoration: none;
font-size: 1.2rem;
padding: 20px;

}
.footer-links li{
  list-style-type: none;

}
.footer-links li a:hover{
  color: #dfdb0e;
}
.footCont{
  margin-left: 100px;
  padding: 25px;
}
.conat{
 
  margin-left: 10px;

  justify-content: space-between;
  
}
.conat a{
text-decoration: none;
color: #91c712;
font-size: 1.2rem;
padding: 20px 5px;
}